body{
    font-family: "Oxanium",cursive;
    background: #000000;
    color: #ffffff;
}
body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
.cabecalho{
    display: flex;
    justify-content: center;
}
.selecao-person{
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}
.selecao-person .lista-person{
display: flex ;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
}
.selecao-person .person{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}
.selecao-person .person .titulo{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
    text-align: center;
}
.lista-person .personagem img{
    width: 100%;
    height:100%;
}
.lista-person .personagem.selecionado{
box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado{
    text-align: center;
    max-height: 530px;
}

.personagem-selecionado .personagem-GG-img{
    width: 430px;
    height: 430px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .info{
font-size: 16px;
line-height: 22px;
text-align: center;
margin-top: 20px;
width:420px;
}