body{
    font-family: "Oxanium",cursive;
    background: #000000;
    color: #ffffff;
}
.cabecalho{
    display: flex;
    justify-content: center;
}
.selecao-de-personagens{
    display: flex;
    align-items: center;
    gap: 30px;
}
.selecao-de-personagens .lista-personagens{
display: flex ;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
}
.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}
.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
    text-align: center;
}
.lista-personagens .personagem img{
    width: 100%;
    height:100%;
}
.lista-personagens .personagem.selecionado{
box-shadow: 0px 0px 24px 5px #0271f7;
}