@media(max-width: 1120px) {
    .cabecalho .logo {
        max-width: 190px;
    }

    .selecao-person {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .selecao-person .person {
        margin-top: 37px;
    }

    .selecao-person .person .titulo {
        font-size: 15px;
    }

    .selecao-person .lista-person {
        gap: 9px;
    }

    .selecao-person .personagem img {
        width: 80px;
    }

    .personagem-selecionado .personagem-GG-img {
        width: 350px;
        height: 350px;
    }

    .personagem-selecionado .descricao {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}